
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
body {
    margin: 0;
    font-family: "inter";
}
:root {
    /* Colors */
    --GreenColor: hsl(75, 94%, 57%);
    --WhiteColor: hsl(0, 0%, 100%);
    --GreyColor: hsl(0, 0%, 20%);
    --DarkColor: hsl(0, 0%, 12%);
    --OffBlackColor: hsl(0, 0%, 8%);
    /* font size */
    --FontSizeDefault: 14px;
}


